$light-blue: #edf2f7;
$blue: #4470e0;

body {
  background-color: $light-blue;
}

.article {
  color: $blue;
  border: 1px solid #dbe2ed;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 10px;
  text-transform: capitalize;
  .content {
    color: #34393e;
    text-transform: capitalize;
  }
}

